/*imgs & hero*/

img {
    width: 100%;
    display: block;
}

.figure {
    height: 304px;
    margin: var(--text-indent) 0;
    overflow: hidden;
}

.hero-img {
    margin-top: 8px;
    width: 548px;
    height: 270px;
    overflow: hidden;
}

.hero-banner {
    text-align: center;
    margin-top: 8px;
}


/*avatar*/

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 94px;
    width: 94px;
    min-width: 94px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
}