@import url("vars.css");
@import url("holders.css");
@import url("type.css");
@import url("btns.css");
@import url("imgs.css");
@import url("media.css");
@import url("list-group.css");
@import url("cards.css");

body {
    background-color: var(--color-brand-light);
    margin: 0;
}

/*header&footer*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    margin-top: 0;
}

.logo {
    display: block;
    height: 48px;
    width: 147px;
}

.header a {
    font-size: var(--font-size-sm);
    color: #b5b6b7;
    text-decoration: none;
}

.footer {
    margin-top: var(--space-xxs);
    background-color: var(--color-brand);
    text-align: center;
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.fw-normal {
    font-weight: normal;
}

/*calendar*/

.calendar {
    max-width: 332px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-align: center;
}

.calendar-header {
    position: relative;
    padding: var(--space-xs) var(--space-md);
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background: var(--color-info);
    border-bottom: var(--space-xxs) solid var(--color-info-dark);
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.calendar-header::before,
.calendar-header::after {
    position: absolute;
    height: 50px;
    width: 20px;
    background: #393934;
    content: "";
    border-radius: 20px;
    top: -24px;
    left: 60px;
    border-bottom: 4px solid white;
}

.calendar-header::after {
    left: auto;
    right: 60px;
}

.calendar-body {
    padding: var(--space-xl) var(--space-md);
    font-size: var(--font-size-lg);
    font-weight: bold;
    border-bottom: 4px solid var(--color-brand);
    background-color: var(--color-brand-light);
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}

/*lib demo only*/

.demo-flex {
    display: flex;
}

.demo-highlight {
    border: 2px dashed var(--color-accent-dark);
    background-color: #ff615b0d;
}

.demo-banner-bg {
    background-image: url("../img/demo-banner-bg.png");
    background-color: var(--color-info-light);
    background-size: cover;
}

.b2c-bg {
    background-image: url("../img/back2cart/b2c-bg.png");
    background-color: var(--color-info-light);
    background-size: cover;
}

.renewal-bg {
    background-image: url("../img/system/renewal_bg.png");
    background-size: cover;
}

/*bgs mods*/

.bg-brand-dark {
    background-color: var(--color-brand-dark);
}

.bg-brand {
    background-color: var(--color-brand);
}

.bg-brand-light {
    background-color: var(--color-brand-light);
}

.bg-success-dark {
    background-color: var(--color-success-dark);
}

.bg-success {
    background-color: var(--color-success);
}

.bg-success-light {
    background-color: var(--color-success-light);
}

.bg-info-dark {
    background-color: var(--color-info-dark);
}

.bg-info {
    background-color: var(--color-info);
    color: white;
}

.bg-info .coupon {
    border-bottom-color: white;
}

.bg-info-light {
    background-color: var(--color-info-light);
}

.bg-accent-dark {
    background-color: var(--color-accent-dark);
}

.bg-accent {
    background-color: var(--color-accent);
}

.bg-accent-light {
    background-color: var(--color-accent-light);
}
