.badge,
.badge-success,
.badge-alert,
.badge-info {
    display: inline-block;
    height: var(--height-xs);
    line-height: var(--height-xs);
    min-width: var(--height-xs);
    padding: 0 var(--space-minx2);
    background-color: var(--color-brand-dark);
    color: white;
    border-radius: var(--radius);
    font-size: var(--font-size-xs);
    text-align: center;
    font-style: normal;
    font-family: 'Roboto Mono', monospace;

}

.badge-success {
    background-color: var(--color-success);
}

.badge-alert {
    background-color: var(--color-accent);
}

.badge-info {
    background-color: var(--color-info);
}