/*card*/

.card {
    width: 100%;
    margin-bottom: var(--space-sm);
    text-align: left;
}

[class^="m-grid"] .card {
    min-width: var(--width-sm);
    max-width: var(--width-sm);
}

.m-grid-rev .card {
    min-width: var(--width-sm);
    max-width: var(--width-sm);
}

@media (min-width: 1500px) {

    .m-grid-rev .card,
    [class^="m-grid"] .card {
        width: auto;
        max-width: 406px;
    }
}




.card:last-child {
    margin-bottom: 0;
}


.card-block {
    max-width: none;
}

.card:last-child,
.card:only-child {
    margin-bottom: 0;
}

.card-body {
    padding: var(--space-sm);
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    background-color: var(--color-brand);
    line-height: var(--line-height-base);
    overflow: hidden;
}

/* .card-plain {
    background-color: transparent;
    border: 1px solid rgba(57, 57, 52, 0.24);
    line-height: var(--line-height-xs);
} */

.card-body:only-child {
    border-radius: var(--radius);

}

.card-footer {
    padding: var(--space-sm);
    background-color: var(--color-brand-light);
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}

.card-footer::last-child {
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}

.card-footer .btn {
    margin: 0;
}

.card .h2,
.card h2 {
    transition: all .2s ease-out;
}

.card .h2:hover,
.card h2:hover {
    text-decoration: underline;
    transform: scale(1.02);
    cursor: pointer;
}