nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--space);
    padding-right: var(--space);
}

@media screen and (min-width: 64em) {
    nav {
        padding-left: var(--spacex3);
        padding-right: var(--spacex3);
    }
}

nav ul {
    display: flex;
    align-items: center;

}

.nav-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: var(--space);
    height: 3rem;
    border-radius: 6.25rem;
    font-size: var(--font-size-sm);
    font-weight: 900;
    cursor: pointer;
    transition: all .14s ease-out;
}

.nav-item-square {
    width: 3rem;
}


@media screen and (min-width: 24em ) {
    .nav-item {
        height: 3.5rem;
    }

    .nav-item-square {
        width: 3.5rem;
    }
}

.nav-item:active {
    background: var(--color-brand);
    box-shadow: var(--shadow-inset);

}

.nav-item .icon,
.nav-item img {
    margin-right: var(--space-sm);
}

.nav-item .badge {
    margin: 0;
    height: 22px;
    width: 22px;

}

.nav-item a {
    line-height: normal;
}


.nav-item-responsive span {
    display: none;
}

.nav-item-responsive .icon,
.nav-item-responsive .icon-l {
    margin-right: 0;
}

@media screen and (min-width: 64em) {

    .nav-item-responsive span {
        display: initial;
    }

    .nav-item-responsive .icon,
    .nav-item-responsive .icon-l {
        margin-right: var(--space-sm);
    }
}

.nav-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.nav-icon-brand {
    font-size: 2rem;
}


.nav-icon-menu img {
    margin: 0;
}