.text-c {
    text-align: center;
}

.text-mono {
    font-family: "Roboto Mono", monospace;
    font-size: var(--font-size-sm);
}

.text-success {
    color: var(--color-success);
}

.text-success-dark {
    color: var(--color-success-dark);
}


.text-accent {
    color: var(--color-accent);
}

.text-accent-dark {
    color: var(--color-accent-dark);
}

.text-info {
    color: var(--color-info);
}

.text-sm {
    font-size: var(--font-size-sm);
}

.text-xs {
    font-size: var(--font-size-xs);
}

.text-lg {
    font-size: var(--font-size-lg);
}

.text-hightlight {
    background-color: var(--color-accent-light);
}



.m-0 {
    margin: 0 !important;
}

.ml-0{
    margin-left: 0 !important;
}
.mr-0{
    margin-right: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}



.negative-mt-minx2 {
    margin-top: calc(var(--space-minx2) * -1) !important;
}

.negative-minx2 {
    margin: calc(var(--space-minx2) * -1) !important;
}

.negative-ml-minx2 {
    margin-left: calc(var(--space-minx2) * -1) !important;
}

.negative-mtb-xs {
    margin-top: calc(var(--space-xs) * -1) !important;
    margin-bottom: calc(var(--space-xs) * -1) !important;
}

.negative-mlr-md {
    margin-left: calc(var(--space-md) * -1) !important;
    margin-right: calc(var(--space-md) * -1) !important;
}

.negative-md {
    margin: calc(var(--space-md) * -1) !important;
}

.negative-xs {
    margin: calc(var(--space-xs) * -1) !important;
}

.m-c {
    margin: 0 auto !important;
}

.mt-minx2 {
    margin-top: var(--space-minx2) !important;
}

.mb-minx2 {
    margin-bottom: var(--space-minx2) !important;
}

.mb-xs {
    margin-bottom: var(--space-xs) !important;
}

.mt-sm {
    margin-top: var(--space-sm) !important;
}

.mt-xs {
    margin-top: var(--space-xs) !important;
}

.mt-md {
    margin-top: var(--space-md) !important;
}

.mb-sm {
    margin-bottom: var(--space-sm) !important;
}

.mr-min {
    margin-right: var(--space-min) !important;
}

.ml-min {
    margin-left: var(--space-min) !important;
}


.ml-minx2 {
    margin-left: var(--space-minx2) !important;
}

.mr-minx2 {
    margin-right: var(--space-minx2) !important;
}

.mr-minx3 {
    margin-right: var(--space-minx3) !important;
}

.mr-md {
    margin-right: var(--space-md) !important;
}

.mr-xl {
    margin-right: var(--space-xl) !important;
}


.mr-sm {
    margin-right: var(--space-sm) !important;
}

.ml-lg {
    margin-left: var(--space-lg) !important;
}



.mlr-0 {
    margin-left: 0;
    margin-right: 0;
}

.mb-md {
    margin-bottom: var(--space-md) !important;
}

.mlr-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.ptb-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}



.p-xl {
    padding: var(--space-xl) !important;
}

.p-md {
    padding: var(--space-md) !important;
}

.p-sm {
    padding: var(--space-sm) !important;
}

.p-xs {
    padding: var(--space-xs) !important;
}


.ptb-xs {
    padding-top: var(--space-xs) !important;
    padding-bottom: var(--space-xs) !important;
}

.p-tb-xs {
    padding-top: var(--space-xs) !important;
    padding-bottom: var(--space-xs) !important;
}

.plr-md {
    padding-left: var(--space-md) !important;
    padding-right: var(--space-md) !important;
}


.plr-minx2 {
    padding-left: var(--space-minx2) !important;
    padding-right: var(--space-minx2) !important;
}

.pl-md {
    padding-left: var(--space-md) !important;
}


.pr-md {
    padding-right: var(--space-md) !important;
}


.p-lg {
    padding: var(--space-lg) !important;
}

.p-0 {
    padding: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}


.flg-1 {
    flex-grow: 1 !important;
}

.flg-2 {
    flex-grow: 2 !important;
}

.jc-sbtwn {
    justify-content: space-between !important;
}

.jc-c {
    justify-content: center !important;
}

.ai-c {
    align-items: center !important;
}

.ai-b {
    align-items: flex-end !important;
}

.wr {
    flex-wrap: wrap !important;
}

.flg-0 {
    flex-grow: 0 !important;
}

.ai-end {
    display: flex !important;
    align-items: flex-end !important;
}

.mh-vh {
    min-height: 80vh !important;
}

.mw-md {
    max-width: var(--width-md);
    margin-left: auto;
    margin-right: auto;
}

.mw-sm {
    max-width: var(--width-sm);
    margin-left: auto;
    margin-right: auto;
}

.w-sm {
    max-width: var(--width-sm);
}

.fw-normal {
    font-weight: normal !important;
}

.strike {
    position: relative !important;
}

.strike::after {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--space-min);
    background-color: var(--color-accent-dark);
    content: "";
    opacity: 0.8;
}

.twitter-tweet.twitter-tweet-rendered {
    margin-top: 0 !important;
    margin-bottom: 28px !important;
}

.row {
    position: relative;
}

.muted {
    opacity: 0.5;
}

.mw-0 {
    min-width: auto;
    max-width: none;
}


.lh-1 {
    line-height: 1;
}

.br{
    border-radius: var(--height);
}


/*bgs mods*/

.bg-brand-dark {
    background-color: var(--color-brand-dark);
    color: white;
}

.bg-brand {
    background-color: var(--color-brand);
    color:  var(--color-brand-dark);
}

.bg-brand-light {
    background-color: var(--color-brand-light);
}

.bg-white {
    background-color: white;
}

.bg-success-dark {
    background-color: var(--color-success-dark);
}

.bg-success {
    background-color: var(--color-success);
}

.bg-success-light {
    background-color: var(--color-success-light);

}

.bg-info-dark {
    background-color: var(--color-info-dark);
}

.bg-info {
    background-color: var(--color-info);

}

.bg-info-light {
    background-color: var(--color-info-light);
  
}

.bg-accent-dark {
    background-color: var(--color-accent-dark);
}

.bg-accent {
    background-color: var(--color-accent);
}

.bg-accent-light {
    background-color: var(--color-accent-light);
}

.bg-transparent {
    background-color: transparent;
    backdrop-filter: none;
    
    /* color: white; */
}

.hide {
    display: none;
}

.p-absolute{
    position: absolute !important;
}