@import url(./var.css);

.m-s {
    margin: var(--space-sm) !important;
}

.mt {
    margin-top: var(--space) !important;
}

.mt-s {
    margin-top: var(--space-sm) !important;
}

.mtx2 {
    margin-top: var(--spacex2) !important;
}

.mtx3 {
    margin-top: var(--spacex3) !important;
}

.ml {
    margin-left: var(--space) !important;
}

.ml-xs {
    margin-left: var(--space-xs) !important;
}

.mr {
    margin-right: var(--space) !important;
}

.mr-s {
    margin-right: var(--space-sm) !important;
}


.mt-xs {
    margin-top: var(--space) !important;
}


@media (max-width: 48em) {
    .mt-screenxs {
        margin-top: var(--space) !important;
    }

    .mt-screenxs-x2 {
        margin-top: var(--spacex2) !important;
    }

    .mt-screenxs-x3 {
        margin-top: var(--spacex3) !important;
    }

    .mt-screenxs-x4 {
        margin-top: var(--spacex4) !important;
    }

    .pt-screenxs {
        padding-top: var(--space) !important;
    }
}

@media (max-width: 48em) {
    .mt-screensm {
        margin-top: var(--space) !important;
    }

    .mt-screensm-x2 {
        margin-top: var(--spacex2) !important;
    }

    .mt-screensm-x3 {
        margin-top: var(--spacex3) !important;
    }

    .pt-screensm {
        padding-top: var(--space) !important;
    }
}

@media (max-width: 75em) {
    .mt-screenmd {
        margin-top: var(--space) !important;
    }

    .mt-screenmd-x2 {
        margin-top: var(--spacex2) !important;
    }


    .mt-screenmd-x3 {
        margin-top: var(--spacex3) !important;
    }

}

.mb {
    margin-bottom: var(--space) !important;
}

.mb-s {
    margin-bottom: var(--space-sm) !important;
}

.mbx2 {
    margin-top: var(--spacex2) !important;
}

.mb-md {
    margin-bottom: var(--space-md) !important;
}


.p-0 {
    padding: 0 !important;
}

.pr {
    padding-right: var(--space) !important;
}

.pl {
    padding-left: var(--space) !important;
}

.lh-sm {
    line-height: var(--line-height-sm);
}

.ai-flex-start {
    align-items: flex-start !important;
}

.ai-center {
    align-items: center !important;
}

.jc-space-between {
    justify-content: space-between !important;
}

.jc-flex-start {
    justify-content: flex-start !important;
}


.m-0 {
    margin: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}


.pr-0 {
    padding-right: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pt {
    padding-top: var(--space) !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fg-1 {
    flex-grow: 1 !important;
}

.fg-4 {
    flex-grow: 3 !important;
}

.hide {
    display: none;
}


.flex-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.flex-one {
    display: flex;
    flex: 1;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
}


.bgcolor-brand-dark {
    background: var(--color-brand-dark);
    color: white;
}


.txt-warning {
    color: var(--color-warning);
}


.absolute-center {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

.fixed-bottom {
    position: fixed;
    margin: auto;
    right: 0;
    bottom: 0;
    left: 0;
}

.txt-right {
    text-align: right;
}

.wb {
    word-break: break-word;
}

.w-auto {
    width: auto !important;
}

.mw-auto {
    max-width: none !important;
}

.w-100 {
    width: 100%;
}


.mw-xs {
    max-width: 6rem;
}

.mh-sm {
    max-height: 100px;
}

.mh-90vh {
    display: flex;
    align-items: center;
    min-height: 90vh;
}

.hide {
    display: none;
}

@media (max-width: 62em) {
    .hide-xs {
        display: none;
    }
}


@media (min-width: 63em) {
    .hide-md {
        display: none;
    }
}


.bg-brand-light {
    background: var(--color-brand-light);


}

.bg-brand {
    background: var(--color-brand);

}

.bg-brand-darker {
    background: var(--color-brand-darker);


}

.bg-brand-dark {
    background: var(--color-brand-dark);
    color: white;
}

.bg-warning-light {
    background: var(--color-warning-light);
    color: var(--font-color);
}

.bg-warning {
    background: var(--color-warning);
}

.bg-warning-dark {
    background: var(--color-warning-dark);
    color: white;
}

.bg-alert-light {
    background: var(--color-alert-light);
    color: var(--font-color);

}

.bg-alert {
    background: var(--color-alert);
}

.bg-alert-dark {
    background: var(--color-alert-dark);
    color: white;
}


.bg-success-light {
    background: var(--color-success-light);
    color: var(--font-color);

}

.bg-success {
    background: var(--color-success);
}

.bg-success-dark {
    background: var(--color-success-dark);
    color: white;
}

.bg-info-light {
    background: var(--color-info-light);
    color: var(--font-color);

}

.bg-info {
    background: var(--color-info);
}

.bg-info-dark {
    background: var(--color-info-dark);
    color: white;
}

.bg-pp {
    background-color: #2c559f;
    color: white;
}

.bg-applepay {
    background-color: #424242;
    color: white;
}


/*lib color*/

.swatch {
    display: flex;
    height: 5rem;
    width: 5rem;
    border-radius: var(--radius);
    padding: var(--space-sm);
    font-family: 'Roboto Mono', monospace;
    font-size: small;
    font-weight: 800;
}
