/*holders*/

.main {
    margin: auto;
    width: 95vw;
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    color: var(--color-brand-dark);
}

.section,
.section-lg,
.section-sm {
    margin-top: var(--space-xxs);
    padding: var(--space-lg) var(--space-md);
    background-color: white;
    margin-top: var(--space-minx2);
}

.section-sm {
    padding: var(--space-md);
}

.section-lg {
    padding-top: var(--space-xl);
    padding-bottom: var(--space-xl);
}

.section-flex {
    display: flex;
    justify-content: center;
}

.holder-intext {
    margin: var(--text-indent) 0;
}

.holder-intext:last-child,
.holder-intext:only-child {
    margin-bottom: 0;
}

.holder-right {
    margin-left: var(--space-xs);
    text-align: right;
}

.holder-center {
    margin-left: var(--space-xs);

}

.holder-left {
    text-align: left;
}

.holder-sm {
    max-width: var(--width-sm);
    margin-left: auto;
    margin-right: auto;
}

.holder-md {
    max-width: var(--width-lg);
    margin-left: auto;
    margin-right: auto;
}

.holder-lg {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.holder-cta,
.holder-cta-v {
    display: flex;
    margin-top: var(--text-indent);
    max-width: var(--width-md);
    margin-left: auto;
    margin-right: auto;
}

.holder-cta-v {
    flex-direction: column;
    max-width: var(--width-xs);
}

.holder-cta button,
.holder-cta-v button {
    margin: 0;
    flex-grow: 1;
}

.holder-cta button+button {
    margin-left: var(--space-sm);
}

.holder-cta-v button+button {
    margin-top: var(--space-minx3);
}


.holder-fixed {
    position: fixed;
    height: 82vh;
    z-index: 9;
}