.input-s,
.input {
    display: block;
    width: 100%;
    height: var(--height);
    padding: 0 var(--space-xs);
    border: 2px solid var(--color-brand-dark);
    border-radius: var(--radius);
    font-size: var(--font-size-base);
    font-family: 'Roboto Mono', monospace;
}

.input:focus,
.input-s:focus {
    outline: var(--focus);
    transition: none;
}


.input+.input,
.input+.row,
.row+.input,
.row+.input-group,
.input-group+.row,
.input+.input-group,
.input-group+.input {
    margin-top: var(--space-xs);
}

.form-group .row+.row {
    margin-top: var(--space-xs);
}

.input+button {
    margin-top: var(--space-xs);
}

.input-s {
    height: var(--height-xs);
    border-width: 1px;
    padding: var(--space-min);
    border-radius: var(--space-min);
    font-size: var(--font-size-sm);
}

.input-group {
    display: flex;
    line-height: 1;
}


.input-group .input-s {
    position: relative;
    margin-bottom: 0;

}

.input-s.fixed {
    width: var(--space-md);
}

.input.fixed {
    width: calc(2*var(--space-xl));
}

.input-group-pre .btn-xs {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -2px;
}

.input-group-pre+.input-s,
.input-group-pre+.input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group .input-s,
.input-group .input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group .input-s:last-child,
.input-group .input:last-child {
    border-top-right-radius: var(--space-min);
    border-bottom-right-radius: var(--space-min);
}

.input-group-post .btn-xs,
.input-group-post .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -2px;
    margin-right: 0;
    box-shadow: none;
}

.input-group-post .btn {
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    margin-left: -2px;
}


.input-group-pre .btn-xs,
.input-group-post .btn {
    margin-top: 0;
    margin-bottom: 0;
}


.input-group-label {
    margin-bottom: var(--space-minx2);
    line-height: 1;
}