@import url(./var.css);

* {
    box-sizing: border-box;
}

html.w-mod-touch * {
    background-attachment: scroll !important;
}

body {
    padding: 0;
    margin: 0;
    background: var(--color-brand);
    font-size: var(--font-size);
    color: var(--color-brand-dark);
    font-family: var(--font-family);
    font-weight: 500;
    cursor: url(../img/coursor.svg) 4 12, auto;
    background-color: var(--color-brand-light);
    background-image: url("../img/bg.png");
    background-repeat: repeat;
    background-position: 0 -0.125rem;
    text-rendering: optimizeLegibility;

    /*cursor: url(../img/coursor-pointer.svg) 2 2, pointer;*/

}


::selection {
    background: var(--color-warning);
}

/* 100% width container, defines overall padding  */

.page-container {
    position: relative;
    padding: var(--spacex4) var(--space);

}

@media screen and (min-width: 64em) {

    .page-container {
        padding-left: var(--spacex3);
        padding-right: var(--spacex3);
    }
}

.page-container + .page-container {
    border-top: var(--border) solid var(--color-brand-dark);
}


/* to limit content width for large screens. tag when we have H, class when we need same container but don't have h, eg. ssl list */

section,
.section {
    width: 100%;
    max-width: 80rem /*1200*/;
    margin-left: auto;
    margin-right: auto;
}


/* default container for any type of content, defines spacing between blocks*/

.content-spaced {
    margin-top: var(--spacex2);
}


/* if we need same spacing between content but limit max width, eg. for form  */

.content-spaced-fixed-md {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
}


/* container for embedded tweets */


.sticky-bottom-xs {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: var(--space-md) var(--space);
    z-index: 999999;
}

.sticky-bottom-xs .btn {
    height: 64px;
    width: 64px !important;
}

.sticky-bottom-xs .btn + .btn {
    margin-top: var(--space);
}

@media screen and (max-width: 26em) {
    .sticky-bottom-xs .btn-container {
        margin-top: 0;
    }
}

@media screen and (min-width: 48em) {
    .sticky-bottom-xs {
        position: initial;
        background: transparent;
        padding: 0;
        border-top: none;
    }

    .sticky-bottom-xs .btn-block {
        width: 100% !important;
    }
}


/*home page*/

@media screen and (min-width: 45em) and (max-width: 74em) {
    .product-filters {
        max-width: 80%;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media screen and (min-width: 45em) {
    .product-cards {
        flex-wrap: wrap;
        margin-left: calc(var(--space) * -1);
        margin-right: calc(var(--space) * -1);

    }
}


.product-filters .btn {
    min-width: 240px;
}


.magic-grid .panel + .panel {
    margin-top: 0;
}

@media screen and (min-width: 45em) {
    .magic-grid .panel {
        max-width: 45.3vw;
    }
}

@media screen and (min-width: 64em) {
    .magic-grid .panel {
        max-width: 43vw;
    }
}

@media screen and (min-width: 78em) {
    .magic-grid .panel {
        max-width: 27vw;
    }
}

@media screen and (min-width: 120em) {
    .magic-grid .panel {
        max-width: 16vw;
    }
}

@media screen and (min-width: 64em) {
    .divider-screenmd {
        border-left: var(--border) solid var(--color-brand-dark);
        margin-left: auto;
        margin-right: auto;
        height: 400px;
        width: 1px;

    }
}


.twitter-tweet {
    margin: var(--space-sm) !important;
}

.review-block {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 64em) {
    .twitter-tweet {
        margin: var(--space-sm) !important;
        width: 100% !important;
        min-width: 20vw !important;

    }
}

@media screen and (min-width: 75em) {
    .twitter-tweet {
        max-width: 24vw !important;

    }
}