/*list group*/
.list-group {
  margin-bottom: var(--space-md);
}

.list-group:last-child,
.list-group:only-child {
  margin-bottom: 0;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-xs) var(--space-sm);
  background: var(--color-brand-light);
}

.list-group-header {
  background-color: var(--color-brand);
}

.list-group-footer {
  font-size: var(--font-size-sm);
  font-weight: bold;
  text-transform: uppercase;
}

.list-group-item {
  border-top: 1px solid white;
  border-bottom: 1px solid #eae7db;
}

.list-group-item:first-child {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.list-group-item:last-child {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
