/*media objects*/

.media,
.media-v {
    display: table;
    text-align: left;
    margin-bottom: var(--space-lg);
    ;
}

.media-v {
    display: block;

}

.media .media-body {
    display: table-cell;
    vertical-align: middle;
    padding-left: var(--space-sm);
}



.media-v .media-body {
    margin-top: var(--space-md);
}

.media:last-child {
    margin-bottom: 0;
}

.media-img-cover {
    width: 212px;
    height: 176px;
}

.media-img {
    margin: 0;
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
    font-weight: 700;
    font-family: 'Roboto Mono', monospace;
}