.logo {
    display: block;
    height: 48px;
    width: 147px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 var(--space-sm); */
    margin-top: 0;
    background-color: white;
    font-size: var(--font-size-xs);
    opacity: 0.98;

}

.navbar-brand {
    color: var(--color-brand-dark);
    font-size: var(--font-size-base);
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-item a {
    display: flex;
    align-items: center;
    min-height: 53px;
    padding: var(--space-minx3) var(--space-sm);
    border: 2px solid transparent;
}

.nav-item a:hover {
    background-color: var(--color-brand);

}

.nav-item.active {
    border-bottom: 2px solid currentColor;
}

.nav-item a:focus {
    outline: var(--focus);
    transition: none;
}

.nav-link {
    color: var(--color-brand-dark);
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
}