@import url(./var.css);

.panel + .panel {
    margin-top: var(--space-md);
}

.panel {
    position: relative;
    border-radius: var(--radius);
    background: var(--color-brand);
    border: var(--border) solid var(--color-brand-dark);
    width: 100%; /*always 100% on small screens*/
    box-shadow: var(--shadow-lg-brand);
}

.panel-collapse {
    position: relative;
}

.panel-collapse .panel-header:first-child:after {
    display: inline-block;
    height: auto;
    padding-left: var(--space-sm);
    padding-top: var(--space-xs);
    background-color: transparent;
    font-weight: 400;
    white-space: nowrap;
    content: url(../img/caret-down.svg);
    margin: 0;
    transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1) 0s;

}

.panel-header {
    padding: var(--space-md);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--border) solid var(--color-brand-dark);
}

.panel-header:first-child {
    font-weight: 600;
}


/*if panel header content needs to be 1 col*/
/*.panel div {*/
/*    width: 100%;*/
/*}*/

.panel-header:only-child {
    border-bottom: 0;
}

.panel-body {
    position: relative;
    padding: var(--space-md);
    width: 100%;
}

.panel-footer {
    background: var(--color-brand-dark);
    padding: var(--space);
    border-radius: 0 0 0.75rem 0.75rem /*12px*/;
    font-family: courier, monospace;
    color: white;
    line-height: var(--line-height);
}


.panel-warning {
    background: var(--color-warning);
    box-shadow: var(--shadow-lg-warning);
}

.panel-warning .input {
    border-color: var(--color-warning-dark);
}

.panel-success {
    background: var(--color-success);
    box-shadow: var(--shadow-lg-success);
}

.panel-success .input {
    border-color: var(--color-success-dark);
}

.panel-info {
    /*border-color: var(--color-info-dark);*/
    background: var(--color-info);
    box-shadow: var(--shadow-lg-info);
}

.panel-info .input {
    border-color: var(--color-info-dark);
}

.panel-alert {
    background: var(--color-alert);
    box-shadow: var(--shadow-lg-alert);
}

.panel-alert .content-scrolled {
    background: var(--color-alert-light);
}

.panel-alert .table-striped tbody tr:nth-child(odd) {
    background: #f7e5dc;
}

.panel-alert .table-striped tbody tr:only-child {
    background: transparent;
}

.panel-alert .tab-content {
    background: var(--color-alert-light);
}


p + .panel {
    margin-top: var(--space-md);
}

.panel h2,
.panel .h2,
.panel h3,
.panel .h3 {
    margin: 0;
}

.label-responsive .icon {
    margin-right: 0;
}



