.tab-group {
    display: flex;
    justify-content: center;
    margin-bottom: var(--space-lg);
    border-bottom: 2px solid var(--color-brand-dark);


}

.tab,
.tab-active {
    position: relative;
    top: 2px;
    display: flex;
    align-items: center;
    height: var(--height);
    line-height: var(--height);
    padding: 0 var(--space-xs);
    border: 2px solid var(--color-brand-dark);
    border-bottom: 0;
    border-top-right-radius: var(--radius);
    border-top-left-radius: var(--radius);
    font-size: var(--font-size-base);
    font-family: 'Roboto Mono', monospace;
    z-index: 999;
    transition: all .2s ease-out;

}

.tab-active {
    background-color: var(--color-accent);
    margin-right: -2px;
    z-index: 2;
}

.tab {
    z-index: 1;
}

.tab img {
    width: 20px;
}

.tab:hover {
    text-decoration: underline;
    transform: scale(1.02);
    cursor: pointer;
}