.dm {
    background-image: none;
    background-color: var(--color-brand-dark);
    color: var(--color-brand-light);
}

.dm .section,
.dm .section-lg,
.dm .navbar,
.dm footer {
    backdrop-filter: blur(10px);
    background-color: rgb(51 51 51 / 0.9);
}

.dm .nav-item a:hover {
    background-color: var(--color-brand-dark);
}

.dm .bg-transparent {
    background-color: transparent;
}

.dm .nav-item a {
    color: var(--color-brand-light);
}

.dm .card {
    background-color: var(--color-brand-dark);
}

.dm .input {
    background-color: var(--dm-color-brand-light);
    border-color: var(--dm-color-brand-dark);
}

.dm button {
    color: var(--color-brand-light);
    
}

.dm .btn-primary,
.dm .btn-secondary{
    border-color: var(--dm-color-brand-dark);
    box-shadow: 0 var(--space-min) 0 var(--dm-color-brand-dark);
}

.dm .btn-primary,
.dm .badge-success {
    background-color: var(--dm-color-success);
}

.dm .btn-secondary {
    background-color: var(--dm-color-brand-light);
}

.dm th {
    background-color: var(--dm-color-brand);
}

.dm tr {
    background-color: var(--color-brand-dark);
}

.dm tr:nth-child(even) {
    background-color: var(--dm-color-brand);
}


.dm .figure-sm,
.dm .figure{
    background-color: var(--color-brand-dark);
}