@import url(./var.css);


.alert-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* red */
  .alert {
    display: flex;
    position: relative;
    max-width: 640px;
    box-shadow: var(--shadow-raised);
    border-radius: var(--radius);
    border: var(--space-xxs); solid var(--color-alert);
    overflow: hidden;
  }

  .alert + .alert {
    margin-top: var(--space);
  }
  
  .alert-copy {
    padding: var(--space-md);
    background: var(--color-alert-light);
    line-height: var(--line-height);
    color: var(--color-alert-dark);
  }
  
  .alert-symbol {
    padding: var(--space-md);
    background: var(--color-alert-darker);
    border-right: var(--space-xxs); solid var(--color-alert);
    color: white;
  }
  
  .alert-symbol .icon {
    position: relative;
    top: 2px;
  }
  
  .alert-cta {
    display: flex;
    justify-content: right;
    margin-top: var(--space-md);
  }
  
  .alert .close {
    position: absolute;
    right: var(--space-md);
    top: 22px;
  }
  
  .alert .txt-highlighted {
    background: rgba(243, 178, 177, 0.45);
  }
  

  /* lower opacity 0.7 for yellow link on red bg, same for panel-error */
  .alert .link-decorated:after,
  .alert .link-decorated-sm:after{
   border-bottom-color: rgba(250, 197, 16, 0.7); /*var(--color-warning)*/
  }
  
  .alert-dismissable .alert-copy {
    padding-right: 3.25em /*52px*/;
  }
  
  .alert-basic .close {
    top: 26px;
  }
  
  /* blue */
  .alert-info {
    border-color: var(--color-info-darker);
  }

  .alert-info .alert-symbol {
    background: var(--color-info);
    border-right: var(--space-xxs); solid var(--color-info-darker);
  }

  .alert-info .alert-copy {
    background: var(--color-info-light);
    color: var(--color-info-xdark);
  }
  
  .alert-info .txt-highlighted {
    background: rgba(109, 174, 235, 0.25);
  }
  
  .alert-info .link-decorated:after{
   border-bottom-color: rgba(250, 197, 16, 0.5); /*var(--color-warning), 50% opacity*/
  }
  
  