@import url(./var.css);


.alert-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* red */
  .alert {
    display: flex;
    position: relative;
    max-width: 37.5em /* 600px*/;
    box-shadow: var(--shadow-raised);
    border-radius: var(--radius);
    border: var(--space-xxs) solid var(--color-alert);
    overflow: hidden;
  }

  .alert + .alert {
    margin-top: var(--space);
  }
  
  /* .alert-body{
    background: var(--color-alert-light);
  } */

  .alert-content {
    padding: var(--space-md);
    padding-right: 3.25em /*52px*/;
    line-height: var(--line-height);
    color: var(--color-alert-dark);
  }
  
  .alert-symbol {
    padding: var(--space-md);
    background: var(--color-alert-darker);
    border-right: var(--sp) solid var(--color-alert);
    color: white;
  }
  
  .alert-symbol .icon {
    position: relative;
    top: var(--space-xxs);
  }
  
  .alert .holder-cta {
   text-align: right;
  }
  

  .alert-action{
    padding: 0 var(--space-md) var(--space-md);
    text-align: right;

  }
  .alert .close {
    position: absolute;
    right: var(--space-md);
    top: 1.375em /*22px*/;
  }
  
  .alert .txt-highlighted {
    background: rgba(243, 178, 177, 0.45);
  }
  

  /* lower opacity 0.7 for yellow link on red bg, same for panel-error */
  .alert .link-decorated:after,
  .alert .link-decorated-sm:after{
   border-bottom-color: rgba(250, 197, 16, 0.7); /*var(--color-warning)*/
  }
  
  
  .alert-basic .close {
    top: 1.625em /*26px*/;
  }
  
  /* blue */
  .alert-info {
    border-color: var(--color-info-darker);
  }

  .alert-info .alert-symbol {
    background: var(--color-info);
    border-right: var(--space-xxs) solid var(--color-info-darker);
  }

  .alert-info .alert-content {
    /* background: var(--color-info-light); */
    color: var(--color-info-xdark);
  }
  
  .alert-info .txt-highlighted {
    background: rgba(109, 174, 235, 0.25);
  }
  
  .alert-info .link-decorated:after{
   border-bottom-color: rgba(250, 197, 16, 0.5); /*var(--color-warning), 50% opacity*/
  }
  
  