.badge{
    display: in,line-flex;
    padding: var(--space-sm) /*1px*/;
    font-size: var(--font-size-sm);
    background: var(--color-brand);
    border-radius: var(--radius);
    font-weight: 600;
    line-height: normal;
}

.badge-inverted{
    background: var(--color-brand-dark);
    color: white;
}

.badge-success{
    background: var(--color-success);
    color: white;
}

.badge-alert{
    background: var(--color-alert);
    color: white;
}