@import url(./var.css);
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
.btn,
.btn-s {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--space) var(--space-md);
    border: none;
    border-radius: var(--spacex2);
    box-shadow: var(--shadow);
    font-size: var(--font-size-sm);
    text-transform: uppercase;
    color: var(--color-brand-dark);
    font-family: Montserrat;
    font-weight: 500;

}



.btn-s{
    padding: var(--space-sm) var(--space);

}

.btn .icon,
.btn img{
    margin-right: var(--space-sm);
}



.btn-primary{
    background: var(--color-alert);
    color: white;

}

.btn-secondary{
    background: white;

}

/* transparent bg, has padding */
.btn-flat {
    background: transparent;
    box-shadow: none;

}

/* no padding, same color as the rest of the text */
/*lable example: "done" in stepper*/
.btn-link {
    padding: 0;
    background: transparent;
    box-shadow: none;
    font-weight: 600;
    color: inherit;
}

/* label+btn example: done+undo */
.label+.btn-link,
.btn-link+.btn-link{
    margin-left: var(--space);
}


.btn-link .icon{
    margin-right: 0.375em /*6px*/;
}


.btn-responsive span{
    display: none;
}
.btn-responsive .icon{
    margin-right: 0;
}

.btn-responsive span{
    display: none;
}
.btn-responsive .icon{
    margin-right: 0;
}

.label-responsive span{
    display: none;
}


@media screen and (min-width: 64em) {
    .btn-responsive span{
        display: initial;
    }

    .btn-responsive .icon{
        margin-right: 0.375em /*6px*/;
    }

    .btn-responsive span{
        display: initial;
    }

    .btn-responsive .icon{
        margin-right: var(--space-sm);
    }
       
}

/*btn with icon only, no text*/
.btn-icon{
    width: 2.6875em /*43em*/;
    height: 2.6875em /*43em*/;
}

/* used for secondary only */
.btn-checked {
    background: var(--color-success);
    color: white;
}



/* default container for buttons in all components or forms, defines distane from btn(s) to other blocks and multuple btns behavior*/

.btn-container,
.txt-scrollable+.btn-container{
    margin-top: 1.75em /*28px*/;
    margin-bottom: var(--space-xs); /*to make bottom padding visually the same as top and right/left in elements like cards and panels*/
}

/* txt blocks add extra space with line height */
p+.btn-container,
.p+.btn-container,
ul+.btn-container{
    margin-top: var(--space-md);
   
}

.btn-s-container{
    margin-top: var(--space-sm);   
}


/* default behavior: 2 btn in a row for larger screens, 2 btn in 1 col on screen xs*/
.btn-container button{
    width: 100%;
}

.btn-container button+button{
    margin-top: var(--space);
}

@media screen and (min-width: 576px) {
    .btn-container button{
        width: auto;
    }
    .btn-container button+button{
        margin-top: 0;
        margin-left: var(--space-sm);
    }
}


.btn-container-fixed-md{
    max-width: 20rem;
}


