@import url(./var.css);

.btn,
.btn-s {
    padding: var(--space-md);
    border: none;
    border-radius: var(--spacex2);
    box-shadow: var(--shadow);
    font-family: montserrat;
    font-size: var(--font-size-sm);
    text-transform: uppercase;
    font-weight: 500;
}

.btn-s {
    padding: var(--space-xs);

}

.btn-primary{
    background: var(--color-alert);
    color: white;

}

.btn-secondary{
    background: white;
    color: var(--color-gray-dark);

}

/* transparent bg, has padding */
.btn-flat {
    background: transparent;
    box-shadow: none;
    color: var(--color-gray-dark);

}

/* no padding, same color as the rest of the text */
/*lable example: "done" in stepper*/
.btn-link,
.label {
    padding: 0;
    background: transparent;
    box-shadow: none;
    font-weight: inherit;
    color: inherit;
}

/* used for secondary only */
.btn-checked {
    background: var(--color-success);
    color: white;
}


button+button,
/* done+undo */
span+button {
    margin-top: var(--space-sm);
}


@media screen and (min-width: 576px) {
    button+button,
    /* done+undo */
    span+button {
        margin-left: var(--space-sm);
    }
}


.btn .icon,
.label i {
    margin-right: var(--space-sm);
}

.btn i:only-child {
    margin-left: 0;
}