@import url(./var.css);

/* checkbox */
.control-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    cursor: pointer;
    font-size: var(--font-size);
    user-select: none;
  }

  .control-container+.control-container{
    margin-top: var(--space-sm);
  }
  
  p+.control-container,
  ul+.control-container{
    margin-top: var(--space);

  }
  /* hide default checkbox */
  .control-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* custom checkbox */
  .checkmark,
  .radiomark {
    position: relative;
    top: 0;
    left: 0;
    height:  var(--space-md);
    width:  var(--space-md);
    background-color:  var(--color-brand);
    border-radius: var(--space-xs);
  }

  .r
  
  .control-container input:checked ~ .checkmark,
  .control-container input:checked ~ .radiomark {
    background-color: var(--color-success-darker);
  }
  
  /* checkbox indicator */
  .checkmark:after,
  .radiomark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* show indicator when checked */
  .control-container input:checked ~ .checkmark:after,
  .control-container input:checked ~ .radiomark:after {
    display: block;
  }
  
  /* checkbox indicator style */
  .control-container .checkmark:after,
  .control-container .radiomark:after {
    left: 0;
    top: 0;
    right:0;
    margin: auto;
    width: 0.375em /*6px*/;
    height: 0.75em /*12px*/;
    border: solid white;
    border-width: 0 0.125em 0.125em 0 /*2px*/;
    transform: rotate(45deg);
  }
  



  /*control label*/
  .input-label{
    margin-left: var(--space-sm);
  }