@import url(./var.css);

  /* layout */
body {
    font-family: montserrat;
    font-size: var(--font-size);
    color: var(--color-gray-dark);
    box-sizing: border-box;
    background: var(--color-brand);
    padding: var(--space-md);
  }

  section {
    background: var(--color-brand-light);
    padding: var(--spacex3);
  }
  
  section + section {
    margin-top: var(--space-sm);
  }
  
  /* helpers */
  
  .mt {
    margin-top: var(--space);
  }
  .mb {
    margin-bottom: var(--space);
  }
  
  .lh-sm {
    line-height: var(--line-height-sm);
  }
  
  .ai-flex-start{
    align-items: flex-start!important;
  }
  
  .m-0{
    margin:0;
  }
  

