@import url(./var.css);
  
  .mt {
    margin-top: var(--space);
  }

  .mtx2{
    margin-top: var(--spacex2);
  }

  .mtx3{
    margin-top: var(--spacex3);
  }

  

  @media screen and (max-width: 48em) {
    .mt-xs{
      margin-top: var(--space);
  
    }

    .p-xs-0{
      padding: 0!important;
    } 

    .b-xs-0{
      border: 0!important;
    }
}


  .mb {
    margin-bottom: var(--space);
  }
  
  .lh-sm {
    line-height: var(--line-height-sm);
  }
  
  .ai-flex-start{
    align-items: flex-start!important;
  }
  
  .m-0{
    margin:0;
  }

  .pr-0{
    padding-right: 0!important;
  }

  .pl-0{
    padding-left:  0!important;
  }
  

  .fw-500{
    font-weight: 500!important;
  }

.hide{
  display: none;
}

.block-flex{
  display: flex;
}


.bgcolor-brand-dark{
background: var(--color-brand-dark)!important;
color: white;
}



.bgcolor-brand-dark .btn,
.bgcolor-brand-dark .btn-s{
  color: white;
}

.bgcolor-brand{
  background: var(--color-brand)!important;
  border
  }
  

.absolute-center{
  position: absolute;
  margin: auto;
  top:0;
  right:0;
  bottom:0;
  left:0;

}

.txt-right{
  text-align: right;
}

.wb{
  word-break: break-word;
}