@import url(./var.css);
  
  .mt {
    margin-top: var(--space);
  }
  .mb {
    margin-bottom: var(--space);
  }
  
  .lh-sm {
    line-height: var(--line-height-sm);
  }
  
  .ai-flex-start{
    align-items: flex-start!important;
  }
  
  .m-0{
    margin:0;
  }
  

.hide{
  display: none;
}

.container-flex{
  display: flex;
}