@import url(./var.css);
  
  .mt {
    margin-top: var(--space);
  }
  .mb {
    margin-bottom: var(--space);
  }
  
  .lh-sm {
    line-height: var(--line-height-sm);
  }
  
  .ai-flex-start{
    align-items: flex-start!important;
  }
  
  .m-0{
    margin:0;
  }

  .pr-0{
    padding-right: 0;
  }

  .pl-0{
    padding-right: 0;
  }
  

.hide{
  display: none;
}

.block-flex{
  display: flex;
}


.bgcolor-brand-dark{
background: var(--color-brand-dark)!important;
color: white;
}

.absolute-center{
  position: absolute;
  margin: auto;
  top:0;
  right:0;
  bottom:0;
  left:0;

}