
@import url(./var.css);

/*general c for placement inside btn or other btn+txt combination*/
.icon {
    display: inline-flex;
    font-size: var(--font-size) !important;
    font-style: normal;
}



.close {
    position: relative;
    height: var(--space);
    width: var(--space);
  }
  
  .close:before,
  .close:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    content: "";
    display: block;
    width: 2px;
    height: 16px;
    background: var(--color-gray-dark);
  }
  
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  
  