@import url(./var.css);

/* .icon - general class - icon or icon+txt combination inside btns or labes*/
.icon {
    position: relative;
    display: inline-flex;
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
}
.icon

/* x for close btn*/
.close {
    position: relative;
    height: var(--space);
    width: var(--space);
  }
  
  .close:before,
  .close:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    content: "";
    display: block;
    width: 0.125rem /*2px*/; /*em breaks the icon*/
    height:  1rem /*16px*/;
    background: var(--color-gray-dark);
  }
  
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  
  