.input{
    padding: var(--space);
    border-radius: var(--radius);
    border: var(--border) solid var(--color-brand);
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.input:fouc

.form-group+.form-group{
    margin-top: var(--space);
}