@import url(./var.css);
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
</style>

*{
    box-sizing: border-box;
}

  body {
    padding: 0;
    margin: 0;
    background: var(--color-brand);
    font-family: Poppins;
    font-size: var(--font-size);
    color: var(--color-brand-dark);  
  }

  .page-container {
    background: var(--color-brand-light);
    padding: var(--space);
  }
  
  @media screen and (min-width: 64em) {

    body {
        padding: var(--space-md);
      }
    
    .page-container {
        padding: var(--spacex3);
      }
  }

  .page-container + .page-container {
    margin-top: var(--space-sm);
  }


/* to limit content width for large screens */
  section{
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
  }