@import url(./var.css);

*{
    box-sizing: border-box;
}

  body {
    font-family: montserrat;
    font-size: var(--font-size);
    color: var(--color-brand-dark);
    box-sizing: border-box;
    background: var(--color-brand);
    padding: var(--space-md);
  }

  .page-container {
    background: var(--color-brand-light);
    padding: var(--space);
  }
  
  @media screen and (min-width: 64em) {
    .page-container {
     
        padding: var(--space);
      }
  }
  .page-container + .page-container {
    margin-top: var(--space-sm);
  }


/* to limit content width for large screens */
  section{
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
  }