/*media objects*/
.media,
.media-v,
.media-reverse {
  display: table;
  text-align: left;
  margin-bottom: var(--space-md);
}

.media-img {
  margin: 0;
  font-size: var(--font-size-lg);
  line-height: 1;
  font-weight: 700;
}

.media-body {
  display: table-cell;
  vertical-align: middle;
  padding-left: var(--space-sm);
  line-height: var(--line-height);
}

.media-body h1,
.media-body h1,
.media-body h1,


.media-reverse .media-body {
  padding-right: var(--space-sm);
  padding-left: 0;
}


.media-v {
  display: block;
}

.media-v .media-body {
  margin-top: var(--space-md);
}

.media:last-child,
.media-s:last-child {
  margin-bottom: 0;
}
