@import url(./var.css);

.panel {
    position: relative;
    border-radius: var(--radius);
    border: var(--border) solid var(--color-brand-dark);
    background: var(--color-brand-light);
    overflow: hidden;
}

.panel-header{ 
  padding: var(--space) var(--space) 0 var(--space);
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

/*if panel doesn't have header*/
.panel-body {
    position: relative;
    padding: var(--space);

}

/*reduces extra top padding in body if contains header*/
.panel-header + .panel-body{
    padding-top: 0;
}



.panel-footer {
    background: var(--color-brand-dark);
    padding: var(--space);
    font-family: courier;
    color: white;
    line-height: var(--line-height);
}

.panel+.panel {
    margin-top: var(--space-sm);
}

.panel-error {
    border-color: var(--color-alert);
    color: var(--color-alert-dark);
    background: var(--color-alert-light);
}

.panel-error .txt-highlighted {
    background: rgba(243, 178, 177, 0.45);
}

/* lower opacity 0.7 for yellow link on red bg, same for alerts */
.panel-error .link-decorated:after,
.panel-error .link-decorated-sm:after {
  border-bottom-color: rgba(250, 197, 16, 0.7) /*var(--color-warning)*/; 
}

.panel-success {
    border-color: var(--color-success);
    color: var(--color-success-dark);
    background: var(--color-success-light);
}

.panel h2,
.panel .h2{
    margin: 0;
}


.label-responsive .icon{
    margin-right: 0;
}


@media screen and (min-width: 576px) {
 
    
    .label-responsive span{
        display: initial;
    }

    .label-responsive .icon{
        margin-right: var(--space-xs);
    }
    
    
}

