@import url(./var.css);

.panel {
    position: relative;
    border-radius: var(--radius);
    border: var(--border) solid var(--color-brand-dark);
    background: var(--color-brand-light);
    min-width: 100px;
    width: 100%;
    
}

.panel-header{ 
  padding: var(--space);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
 
}

/*if panel doesn't have header*/
.panel-body {
    position: relative;
    padding: var(--space);

}

/*reduces extra top padding in body if contains header*/
.panel-header + .panel-body{
    padding-top: 0;
}



.panel-footer {
    background: var(--color-brand-dark);
    padding: var(--space);
    border-radius: 0 0 var(--space-sm) var(--space-sm);
    font-family: courier;
    color: white;
    line-height: var(--line-height);
}

.panel+.panel {
    margin-top: var(--space-sm);
}
.panel-grid {
    display: flex;
}

.panel-grid .panel+.panel{
    margin-top: auto;
    margin: var(--space-sm);
}

.panel-grid .panel{
    margin-top: auto;
    margin: var(--space-sm);
}


.panel-alert {
    border-color: var(--color-alert-dark);
    color: var(--color-alert-dark);
    background: var(--color-alert-light);
}

.panel-alert .txt-highlighted {
    background: var(--color-alert-lighter);
}

.panel-alert .txt-scrollable{
    background: var(--color-alert-lighter);
}


.panel-success {
    border-color: var(--color-success-dark);
    color: var(--color-success-dark);
    background: var(--color-success-light);
}

.panel h2,
.panel .h2,
.panel h3,
.panel .h3{
    margin: 0;
}


.label-responsive .icon{
    margin-right: 0;
}



