@import url(./var.css);

.panel {
    position: relative;
    border-radius: var(--radius);
    border: var(--space-xxs); solid var(--color-gray-dark);
    overflow: hidden;
}
.panel-header{ 
  padding: var(--space) var(--space) 0 var(--space);
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

/*if panel doesn't have header*/
.panel-body {
    padding: var(--space);
}

/*reduces extra top padding in body if contains header*/
.panel-header + .panel-body{
    padding-top: 0;
}

/*20px make 28 space together with line-height, when panel buttons are after text*/
.panel-cta {
    margin-top: var(--space-md);
    margin-bottom: var(--space-xs); /*to make bottom padding visually the same as top and right/left*/
}

/*when buttons are after scrollable area w/ border, it needs 28px specifically*/
.txt-scrollable+.panel-cta{
    margin-top: 1.75em /*28px*/;
}

.panel-footer {
    background: var(--color-gray-dark);
    padding: var(--space);
    font-family: courier;
    color: white;
}

.panel+.panel {
    margin-top: var(--space-sm);
}

.panel-error {
    border-color: var(--color-alert);
    color: var(--color-alert-dark);
    background: var(--color-alert-light);
}

.panel-error .txt-highlighted {
    background: rgba(243, 178, 177, 0.45);
}

.panel-error .link-decorated:after,
.panel-error .link-decorated-sm:after {
  border-bottom: var(--space-sm) solid rgba(250, 197, 16, 0.7) /*var(--color-warning)*/; 
}

.panel-success {
    border-color: var(--color-success);
    color: var(--color-success-dark);
    background: var(--color-success-light);
}