@import url(./var.css);

.panel {
    position: relative;
    border-radius: var(--radius);
    border: var(--border) solid var(--color-brand-dark);
    background: var(--color-brand-light);
}

.panel-header{ 
  padding: var(--space);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

/*if panel doesn't have header*/
.panel-body {
    position: relative;
    padding: var(--space);

}

/*reduces extra top padding in body if contains header*/
.panel-header + .panel-body{
    padding-top: 0;
}



.panel-footer {
    background: var(--color-brand-dark);
    padding: var(--space);
    border-radius: 0 0 8px 8px;
    font-family: courier;
    color: white;
    line-height: var(--line-height);
}

.panel+.panel {
    margin-top: var(--space-sm);
}

.panel-alert {
    border-color: var(--color-alert);
    color: var(--color-alert-dark);
    background: var(--color-alert-light);
}

.panel-alert .txt-highlighted {
    background: var(--color-alert-lighter);
}

/* lower opacity 0.7 for yellow link on red bg, same for alerts */
.panel-alert .link-decorated:after,
.panel-alert .link-decorated-sm:after {
  border-bottom-color: rgba(255, 196, 0, 0.5) /*var(--color-warning)*/; 
}

.panel-success {
    border-color: var(--color-success);
    color: var(--color-success-dark);
    background: var(--color-success-light);
}

.panel h2,
.panel .h2,
.panel h3,
.panel .h3{
    margin: 0;
}


.label-responsive .icon{
    margin-right: 0;
}



