.progress{
    display: flex;

}

.progress li{
    list-style: none;
    height: var(--space-sm);
    width: var(--spacex2);
    background: var(--color-brand);
}

.progress li+li{
    margin-left: var(--space-xs);
}

.progress li