.progress{
    display: flex;

}

.progress li{
    list-style: none;
    height: var(--space-sm);
    width: var(--spacex2);
    background: var(--color-brand);
    
}

.progress li.done{
    
}

.progress li+li{
    margin-left: var(--space-xs);
}

.progress li:first-child{
    border-radius: var(--radius-sm) 0 0 var(--radius-sm);
}

.progress li:last-child{
    border-radius:  0 var(--radius-sm)  var(--radius-sm) 0;
}