.progress{
    display: flex;
    margin: var(--space-sm) 0;

}

.progress li{
    position: relative;
    list-style: none;
    height: var(--space-sm);
    width: var(--spacex2);
    background: var(--color-brand);
    overflow: hidden;
    
}

.progress li:after{
    position: absolute;
    height: 100%;
    background: var(--color-success);
    content: "";
}
.px100:after{
    width: 100%;
}

.px30:after{
    width: 30%;
}

.progress li+li{
    margin-left: var(--space-xs);
}

.progress li:first-child{
    border-radius: var(--radius-sm) 0 0 var(--radius-sm);
}

.progress li:last-child{
    border-radius:  0 var(--radius-sm)  var(--radius-sm) 0;
}