@import url(./var.css);


/* for dcv */
.stepper-step{
    position: relative;
}

.stepper-step-inactive{
    opacity: 0.4;
}

.stepper-step+.stepper-step{
    margin-top: var(--space-sm);
}

.stepper .badge{
    position: absolute;
    top: 2.25rem /*36px*/;
    left: -0.56rem /*9px*/;
    z-index: 999;9/
}

.stepper-step-completed .badge,
.stepper-step-inactive .badge{
    top: 1.06rem /*17px*/;
}


.panel+.stepper{
 margin-top: var(--space);

}

.stepper+table{
    margin-top: var(--space)
}