@import url(./var.css);


/* for dcv */
.stepper-step{
    position: relative;
}

.stepper .badge{
    position: absolute;
    top: 1.125em /*18px*/;
    left: -10px /*10px*/;
    border: var(--space-xxs); solid var(--color-gray-dark);
    background: var(--color-brand-light);
    z-index: 999;
}