@import url(./var.css);


/* for dcv */
.stepper .panel{
    position: relative;
}

.stepper .badge{
    position: absolute;
    top: 
    border: var(--space-xxs); solid var(--color-gray-dark);
    background: var(--color-brand-light);
}