@import url(./var.css);


/* for dcv */
.stepper{
    position: relative;
}

.stepper .badge{
    position: absolute;
    top: var(--space-md);
    left: calc(-1* var(--space-md));
    border: var(--space-xxs); solid var(--color-gray-dark);
    background: var(--color-brand-light);
}