@import url(./var.css);


/* for dcv */
.stepper-step{
    position: relative;
}

.stepper-step+.stepper-step{
    margin-top: var(--space-sm);
}

.stepper-badge{
    position: absolute;
    top: 2.25rem /*36px*/;
    left: -0.625rem /*10px*/;
    height: 24px;
    width: 24px;
    border: var(--space-xxs); solid var(--color-gray-dark);
    background: white;
    border-radius: var(--radius);
    text-align: center;
    line-height: 18px;
    font-size: var(--font-size-sm);
    font-weight: 600;
    z-index: 999;
}

.stepper-step-completed .stepper-badge{
    top: 1.06rem /*17px*/;
}

.stepper-badge-success{
    /* background: var(--color-success-light); */
    border-color: var(--color-success);
    color: var(--color-success-dark);
}

.stepper-badge-error{
    /* background: var(--color-alert-light); */
    border-color: var(--color-alert);
    color: var(--color-alert-dark);
}

.stepper .btn-link span{
    display: none;
}

.stepper .label span{
    display: none;
}