@import url(./var.css);


/* plain transparent table */

table {
    text-align: left;
    color: inherit;
    border-collapse: collapse;
  }
  
  td,
  th {
    vertical-align: top;
    padding: var(--space-sm);
  }
  
  .table-fixed {
    table-layout: fixed;
    width: 100%;
    max-width: 640px;
  }
  
  .cell-center {
    text-align: center;
  }

  .cell-right{
    text-align: center;
  }
  
  .cell-fixed-xs {
   width: 80px;
  }
  
  .cell-fixed-sm {
    width: 160px;
  }

  .cell-fixed-lg {
    width: 260px;
  }

  .table-stripped tr:nth-child(even){
    background: rgb(234 231 219 / 50%) /*var(--color-brand), 50%*/;
  }
  
  

