@import url(./var.css);


/* plain transparent table */

table {
    text-align: left;
    color: inherit;
    border-collapse: collapse;
  }
  
  td,
  th {
    vertical-align: top;
    padding: var(--space-sm);
  }
  
  .table-fixed {
    table-layout: fixed;
    width: 100%;
  }
  
  .cell-center {
    text-align: center;
  }

  .cell-right{
    text-align: center;
  }
  
  

  .table-stripped tr:nth-child(even){
    background: rgb(234 231 219 / 50%) /*var(--color-brand), 50%*/;
  }
  
  




  table {
    border-style: none;
    border-top-width: 0;
    width: auto;
  }
    tr {
      border-style: none;
      border-bottom-width: 0;
    }

    th, td {
      border-style: none;
      padding-right: 1em;
  
      text-align: left;
      min-width: 50px;
      vertical-align: top;
     
    }

    th + th,
    th + td,
    td + th,
    td + td {
      border-left-width: 1px;
    }

    thead tr:last-child {
      border-bottom-width: 2px;
    }

    thead th,
    tr.index th {

      font-weight: bold;
      line-height: 1.25;
      text-transform: uppercase;
    }

    thead th {
        border-bottom: 1px solid;
        padding-bottom: .25em;
    }

    /* tr.index th {
        @include adjust-font-size-to( $font-size-section-heading, 1, $font-size-body );
    } */

    tbody:first-of-type tr.index th {
        padding-top: 1em;
    }

    tbody th {
        font-weight: normal;
    }
  
  
  /* undo tables for small screens */
   /* $break-4 is the px-width break at which you want to cut it off */
    
   @media screen and (max-width: 27em) {
      
    .cell-fixed-xs {
      width: 80px;
     }
     
     .cell-fixed-sm {
       width: 160px;
     }
   
     .cell-fixed-lg {
       width: 260px;
     }

   /* make each table separate from other ones */
      
      table {
        border: 0;
        padding-bottom: 0;
        display: block;
        width: 100%;
      }     
        
 /* make sure captions are displayed */
        caption {
          display: block;
        }
        
        /* wipe the thead from the face of the earth, modern screen readers will expose the generated content */
        thead {
          display: none;
          visibility: hidden;
        }
        
        /*
         * make everything display block so it 
         * aligns vertically
         */
        tbody, tr, th, td {
          border: 0;
          display: block;
          padding: 0;
          text-align: left;
          white-space: normal;
        }
        
/* give each row a little space */
        tr {
          padding: 10px;
        }
        
        /* Labeling
         * adding a data-title attribute to the cells
         * lets us add text before the content to provide
         * the missing context
         * 
         * Markup: 
         *   <td data-title="Column Header">Content Here</td>
         * 
         * Display:
         *   Column Header: Content Here
         */
        th[data-title]:before,
        td[data-title]:before {
          content: attr(data-title) ":\00A0";
          font-weight: bold;
        }
        th:not([data-title]) {
          font-weight: bold;
        }
        
        /* hide empty cells */
        td:empty {
            display: none;
        }
      }
    
  
  