@import url(./var.css);


/* plain transparent table */

table {
    text-align: left;
    color: inherit;
  }
  
  td,
  th {
    vertical-align: top;
    padding: var(--space-sm);
  }
  
  .table-fixed {
    table-layout: fixed;
    width: 100%;
    min-width: 640px;
  }
  
  .cell-center {
    text-align: center;
  }

  .cell-right{
    text-align: center;
  }
  
  .cell-fixed-xs {
    max-width: 80px;
  }
  
  .cell-fixed-sm {
    max-width: 200px;
  }
  

