@import url(./var.css);

h1 {
    margin-bottom: var(--space-sm);
    line-height: var(--line-height-font-lg);
    font-size: var(--font-size-lg);
    font-weight: 600;
}

h2 {
    margin-bottom: 0.75em;
    line-height: var(--line-height-sm);
    font-size: var(--font-size-md);
    font-weight: 500;
}

h3,
.h3,
th,
/* for elements like "done", "complete" */
.label {
    margin-top: 0;
    margin-bottom: var(--space-md);
    line-height: var(--line-height);
    font-size: var(--font-size-sm);
    text-transform: uppercase;
    font-weight: 600;
}



/* scrollable area */

.txt-scrollable {
    max-height: 11px;
    overflow-y: scroll;
    border-top: 1px solid var(--color-alert-dark);
    border-bottom: 1px solid var(--color-alert-dark);
    padding-top: var(--space);
    padding-bottom: var(--space);
}


/* custom scrollbar for webkit only */
.txt-scrollable::-webkit-scrollbar {
    width: var(--space-sm);
}

.txt-scrollable::-webkit-scrollbar-track {
    box-shadow: none;
}

.txt-scrollable::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: var(--radius);
    outline: none;
}


.txt-mono {
    font-family: courier;
    word-break: break-word;
}


.txt-highlighted {
    background: var(--color-brand);
    border-radius: var(--radius);
}


ul {
    margin-top: var(--space-sm);
    padding-left: 0;
    line-height: var(--line-height);
}


/*for "technical lists" smaller linehight inside li, spaceing between li like between p https://www.screencast.com/t/QZPBItelycq*/
.ul-unstyled {
    padding-left: 0;
}

.ul-unstyled li {
    list-style: none;
    margin-bottom: var(--space-sm);
}

.ul-unstyled li:last-child {
    margin-bottom: 0;
}

p {
    margin-top: 0;
    line-height: var(--line-height);
    margin-bottom: 0;
}


p+p,
ul+p,
p+ul {
    margin-top: var(--space);
}

ul+h3,
p+h3 {
    margin-top: var(--spacex2);
}

ul+h2,
p+h2 {
    margin-top: var(--space);
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.link-plain {
    text-decoration: none;
    color: inherit;
}

.link-plain:after {
    display: inline-block;
    height: auto;
    padding-left: 0.25em;
    background-color: transparent;
    font-weight: 400;
    white-space: nowrap;
    content: "→";
    margin: 0px;
    transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1) 0s;

}

.link-plain:hover:after {
    transform: translateX(0.25em);
}

.link-decorated,
.link-decorated-sm{
    display: inline-block;
    background-color: transparent;
    color: inherit;
    line-height: normal;
    transition: background-color 0.25s ease-in-out;
}

.link-decorated:after,
.link-decorated-sm:after {
    display: block;
    height: 0;
    margin-top: -8px;
    border-bottom: var(--space-sm) solid  rgba(250, 197, 16, 0.6) /*var(--color-warning)*/;
    content: "";
}

.link-decorated-sm:after {
    margin-top: -6px;
}

.link-decorated:hover,
.link-decorated-sm:hover {
    background-color: var(--color-warning);
}

.link-plain.visited,
.link-decorated.visited {
    color: var(--color-success-dark);
}