:root {
    --color-alert-light: #fff5f5;
    --color-alert-lighter: #f3b2b1;
    --color-alert: #ff725f;
    --color-alert-darker: #ff8674;
    --color-alert-dark: #6a0900;
  
    --color-warning: #fac510;
  
    --color-info-light: #f2f9ff;
    --color-info-lighter: #a3c9ed;
    --color-info: #6daeeb;
    --color-info-darker: #398dde;
    --color-info-dark: #0055a7;
    --color-info-xdark: #0c2c4b;
    
    --color-success-light: #e8fff4;
    --color-success: #63c3a3;
    --color-success-darker: #2db185;
    --color-success-dark: #0e7252;
    
    --color-brand-dark: #4e4e48;
    
    --color-brand-darker: #c3beac;
    --color-brand: #eae7db;
    --color-brand-light: #f9f8f4;
  

    --space-md: 1.25em /*20px*/;
    --space: 1em /*16px*/;
    --space-sm: 0.5em /*8px*/;
    --space-xs: 0.25em /*4px*/;
    --space-xxs: 0.125em /*2px*/;

    --spacex2: 2em /*32*/;
    --spacex3: 3em /*48*/;
    --spacex4: 4em /*48*/;
  
  
    --radius: 1em /*16px*/;

    --border: 0.1875em /*3px*/;
  
    --line-height: 1.8;
    --line-height-sm: 1.5;
    --line-height-font-lg: 1.2;
  
    --font-size-sm: 0.75em /*12*/;
    --font-size: 1em;
    --font-size-md: 1.25em /*20px*/;
    --font-size-lg: 3.625em /*58px*/;
  
  
    --shadow-raised: 0 18px 20px rgba(0, 0, 0, 0.25);
    --shadow: 0 1px 2px rgba(0, 0, 0, 0.25);

    --screen-sm: 480px;
  }