@import url(./var.css);


.alert-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--space);
    z-index: 999;
  }
  

  .alert + .alert {
    margin-top: var(--space);
  }
  

  .alert {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: var(--space-md);
    box-shadow: var(--shadow-raised);
    border-radius: var(--radius);
    background: var(--color-alert-dark);    
    color: white;
  }
  @media screen and (min-width: 48em) {
    .alert {
      flex-direction: row;
      align-items: center;
    }
  }


  .alert-body{
    display: flex;
    align-items: center;
    max-width: 28rem/*448*/;
  }
@media screen and (min-width: 64em) {
  .alert-body{
    max-width: 34rem/*544*/;
  }
}
.alert .btn-close{
  margin-left: var(--space);
}

  .alert-action{
    display: flex;
    margin-top: var(--space-md);
    text-align: center;
  }
@media screen and (min-width: 48em) {
  .alert-action {
    margin-top:0;
    margin-left: var(--space-md);
  }
}

  .alert-close{
    align-self: flex-start;
    margin-top: 0.375rem /*6*/;
  }

  .alert-action .btn+.btn{
    margin-left: var(--space-sm);  
  }

  .alert .btn-flat,
  .alert .btn-link{
    color: inherit;
  }

  .alert a.visited{
    color: var(--color-alert-lighter);
  }

  .alert .badge{
    margin-right: var(--space);
    color: var(--color-alert-dark);  
    align-self: flex-start;
  }
   
.alert .content-scrolled{
  background: var(--color-alert-xdark);
  padding: var(--space-sm);
  margin-top: var(--space-sm);
}

.alert .txt-highlighted{
  background: var(--color-alert-xdark);
}
  /* blue */

  .alert-info {
    border-color: var(--color-info-dark);
    background: var(--color-info-dark);
    color: white;
  }

  .alert-info .badge{
    margin-right: var(--space);
    color: var(--color-info-dark);  
  }


  .alert-info a.visited{
    color: var(--color-info-lighter);
  }
  