@import url(./var.css);


.alert-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--space);
    z-index: 999;
  }
  

  .alert + .alert {
    margin-top: var(--space);
  }
  

  .alert {
    position: relative;
    display: flex;
    align-items: center;
    padding: var(--space-md);
    box-shadow: var(--shadow-raised);
    border-radius: var(--radius);
    background: var(--color-alert-dark);    
    color: white;
     
  }

  .alert-body{
    display: flex;
    align-items: center;
    max-width: 32rem/*500px*/;

  }

  .alert-action{
    display: flex;
    flex-direction: column;
    margin-left: var(--space);  
    padding-left: var(--space);  
    text-align: center;
    border-left: var(--border) solid white;
     
  }

  .alert-action .btn+.btn{
    margin-top: var(--space-sm);  
  }

  .alert .btn-flat,
  .alert .btn-link{
    color: inherit;
  }

  .alert a.visited{
    color: var(--color-alert-lighter);
  }

  .alert .badge{
    margin-right: var(--space);
    color: var(--color-alert-dark);  
  }
   
 


  /* blue */

  .alert-info {
    border-color: var(--color-info-dark);
    background: var(--color-info-dark);
    color: white;
  }

  .alert-info .badge{
    margin-right: var(--space);
    color: var(--color-info-dark);  
  }



  .alert-info a.visited{
    color: var(--color-info-lighter);
  }
  