@import url(./var.css);

.btn,
.btn-s {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem var(--space-md) /*0.75=var(--space)-(lh-sm)*/; 
    border: none;
    border-radius: var(--spacex2);
    box-shadow: var(--shadow);
    font-size: var(--font-size);
    color: var(--color-brand-dark);
    font-family: 'Montserrat', 'Verdana', sans-serif;
    font-weight: 700;
    line-height: var(--line-height-sm);

}


.btn-s{
    padding: var(--space-sm) var(--space);
}


.btn .icon,
.btn img{
    margin-right: var(--space-sm);
}


.btn-primary{
    background: var(--color-alert);
    color: white;

}

.btn-secondary{
    background: white;

}

/* transparent bg, has padding */

.btn-flat {
    background: transparent;
    box-shadow: none;

}

/* no padding, same color as the rest of the text */
/*lable example: "done" in stepper*/

.btn-link {
    padding: 0;
    background: transparent;
    box-shadow: none;
    color: inherit;
}


/* label+btn example: done+undo */
.btn-link+.label,
.label+.btn-link,
.btn-link+.btn-link{
    margin-left: var(--space);
}

.btn-link .icon{
    margin-right: 0.375em /*6px*/;
}

.btn-block{
    width: 100%!important;
}

/* *-responsive hides text and leaves only icon*/


.btn-responsive span{
    display: none;
}

.btn-responsive .icon{
    margin-right: 0;
}



@media screen and (min-width: 64em) {
    .btn-responsive span{
        display: initial;
    }

    .btn-responsive .icon{
        margin-right: 0.375em /*6px*/;
    }

    .btn-responsive span{
        display: initial;
    }

    .btn-responsive .icon{
        margin-right: var(--space-sm);
    }
       
}

/*btn with icon only, no text*/

.btn-icon{
    width: 2.6875em /*43em*/;
    height: 2.6875em /*43em*/;
}


.btn-checked {
    background: var(--color-success);
    color: white;
}



/* default behavior: 2 btn in a row for larger screens, 2 btn in 1 col on screen xs*/
.btn-container .btn:not(.btn-block){
    width: 100%;
}

.btn-container .btn+.btn{
    margin-top: var(--space);
}

/* default btn container, defines spacing bewtween blocks*/

.btn-container,
.btn-container+.btn-container,
.content-scrolled+.btn-container{
    margin-top: 1.75rem /*28px*/;
    margin-bottom: var(--space-sm); /*to make bottom padding visually the same as top and right/left in elements like cards and panels*/
}


/* txt blocks add extra space with line height */

p+.btn-container,
.p+.btn-container,
ul+.btn-container{
    margin-top: var(--space-md);
   
}

  
.btn .badge{  /* e.g. counter inside btn */
    margin-left: var(--space); 
    margin-top: 0;
    margin-bottom: 0;
}



@media screen and (min-width: 48em) {
    .btn-container .btn:not(.btn-block){
        width: auto;
    }
    .btn-container .btn:not(.btn-block)+.btn:not(.btn-block){
       margin-top: 0;
       margin-left: var(--space);
    }
}


/* flex container with buttons, each button has margin, e.g. filters on home page */

.grid-container .btn:not(.btn-block){
    margin: var(--space-sm);
    width: auto;
    flex-grow: 1;
}

@media screen and (min-width: 48em) {
    .grid-container .btn:not(.btn-block){
        flex-grow: 0;
    }
    
}

.content-spaced.grid-container .btn:not(.btn-block)+.btn:not(.btn-block){
    margin-left: var(--space-sm);
}

.btn-label-trancated{
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        vertical-align: bottom;
   
}

