nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--spacex3);
}


nav ul {
    display: flex;
    align-items: center;

}


.nav-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: var(--space);
    height: 3rem;
    width: 3rem;
    border-radius: 6.25rem;
    font-size: var(--font-size-sm);
    font-weight: 900;
    cursor: pointer;

}

@media screen and (min-width: 23em) {
    .nav-item {
        padding: var(--padding);
        width: auto;
        min-width: 3.5rem;
        min-height: 3.5rem;
    }
}

.nav-item:active {
    background: var(--color-brand);
    box-shadow: var(--shadow-inset);

}

.nav-item .icon,
.nav-item img {
    margin-right: var(--space-sm);
}

.nav-item-responsive span {
    display: none;
}

.nav-item-responsive .icon,
.nav-item-responsive .icon-l {
    margin-right: 0;
}

@media screen and (min-width: 64em) {


    .nav-item {
        width: auto;
        min-width: 3rem;
    }


    .nav-item-responsive span {
        display: initial;
    }

    .nav-item-responsive .icon,
    .nav-item-responsive .icon-l {
        margin-right: var(--space-sm);
    }
}


.nav-brand {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-right: var(--space);
}
