@import url(./var.css);

.mt {
  margin-top: var(--space)!important;
}

.mtx2 {
  margin-top: var(--spacex2)!important;
}

.mtx3 {
  margin-top: var(--spacex3)!important;
}


  .mt-xs {
    margin-top: var(--space)!important;
  }

  .mt-xs-x2 {
    margin-top: var(--spacex2)!important;
}


@media screen and (min-width: 48em) {

  .mt-xs,
  .mt-xs-x2 {
    margin-top: 0!important;
  }

}

@media screen and (min-width: 48em) {
  .mt-sm{
    margin-top: var(--space)!important;
  }

  .mt-sm-x2 {
    margin-top: var(--spacex2)!important;
  }

}

@media screen and (min-width: 64em) {

  .mt-sm,
  .mt-sm-x2 {
    margin-top: 0!important;
  }

}


.mb {
  margin-bottom: var(--space)!important;
}

.p-0 {
  padding: 0 !important;
}

.lh-sm {
  line-height: var(--line-height-sm);
}

.ai-flex-start {
  align-items: flex-start !important;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.pr-0 {
  padding-right: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}


.fw-500 {
  font-weight: 500 !important;
}

.hide {
  display: none;
}

.flex-container {
  display: flex;
  width: 100%;
}


.grid-container {
  display: flex;
  flex-wrap: wrap;
}


.bgcolor-brand-dark {
  background: var(--color-brand-dark) !important;
  color: white;
}



.bgcolor-brand-dark .btn,
.bgcolor-brand-dark .btn-s {
  color: white;
}


.bgcolor-brand {
  background: var(--color-brand) !important;
  border-color: var(--color-brand-darker) !important;
}

.txt-warning{
  color: var(--color-warning);
}


.absolute-center {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}

.fixed-bottom{
  position: fixed;
  margin: auto;
  right: 0;
  bottom: 0;
  left: 0;
}

.txt-right {
  text-align: right;
}

.wb {
  word-break: break-word;
}

.w-auto {
  width: auto;
}

.w-100{
  width:100%;
}

.mh-90{
  min-height: 90vh;
}

.hide{
  display: none;
}