@import url(./var.css);

.mt {
    margin-top: var(--space) !important;
}

.mtx2 {
    margin-top: var(--spacex2) !important;
}

.mtx3 {
    margin-top: var(--spacex3) !important;
}

.ml {
    margin-left: var(--space) !important;
}

.ml-xs {
    margin-left: var(--space-xs) !important;
}

.mr {
    margin-right: var(--space) !important;
}

.mr-s {
    margin-right: var(--space-xs) !important;
}


.mt-xs {
    margin-top: var(--space) !important;
}

@media (max-width: 32em) {
    .mt-screenxs {
        margin-top: var(--space) !important;
    }

    .mt-screenxs-x2 {
        margin-top: var(--spacex2) !important;
    }
}

@media (max-width: 48em) {
    .mt-screensm {
        margin-top: var(--space) !important;
    }

    .mt-screensm-x2 {
        margin-top: var(--spacex2) !important;
    }
}

.mb {
    margin-bottom: var(--space) !important;
}

.p-0 {
    padding: 0 !important;
}

.lh-sm {
    line-height: var(--line-height-sm);
}

.ai-flex-start {
    align-items: flex-start !important;
}

.ai-center {
    align-items: center !important;
}

.m-0 {
    margin: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}


.pr-0 {
    padding-right: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pt {
    padding-top: var(--space) !important;
}

.fw-500 {
    font-weight: 500 !important;
}


.fg-4 {
    flex-grow: 3 !important;
}

.hide {
    display: none;
}

.flex-container {
    display: flex;
    width: 100%;
}


.grid-container {
    display: flex;
    flex-wrap: wrap;
}


.bgcolor-brand-dark {
    background: var(--color-brand-dark) !important;
    color: white;
}


.bgcolor-brand-dark .btn,
.bgcolor-brand-dark .btn-s {
    color: white;
}


.bgcolor-brand {
    background: var(--color-brand) !important;
    border-color: var(--color-brand-darker) !important;
}

.txt-warning {
    color: var(--color-warning);
}


.absolute-center {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

.fixed-bottom {
    position: fixed;
    margin: auto;
    right: 0;
    bottom: 0;
    left: 0;
}

.txt-right {
    text-align: right;
}

.wb {
    word-break: break-word;
}

.w-auto {
    width: auto;
}

.mw-auto {
    max-width: none !important;
}

.w-100 {
    width: 100%;
}

.mw-sm {
    max-width: 180px;
}

.mh-sm {
    max-height: 100px;
}


.mh-90vh {
    min-height: 90vh;
}

.hide {
    display: none;
}