.input,
.input-s,
textarea {
    display: block;
    width: 100%;
    min-width: 3.75rem;
    margin: 0;
    padding: var(--space);
    border-radius: var(--radius);
    border: var(--border) solid var(--color-brand-darker);
    font-family: inherit;
    font-size: inherit;
    font-weight: normal;
    box-sizing: border-box;
    background-color: white;
    line-height: var(--line-height-sm);
}

.input-s,
textarea {
    padding: var(--space-sm);
    border-radius: var(--radius-sm);

}


.input-inverted {
    background: var(--color-brand-dark);
    color: white;
}

.input:focus,
.input-s:focus,
textarea:focus {
    box-shadow: 0 0 4px var(--color-success-lighter);
    border-color: var(--color-success);
    outline: none;
}

.input::placeholder,
.input-s::placeholder {
    color: var(--color-brand-darker);

}


/*custom scrollbar for webkit only*/

textarea::-webkit-scrollbar {
    width: var(--space-sm);
    height: var(--space-sm);
    border-radius: var(--radius);
    padding: 10px;
}

textarea::-webkit-scrollbar-track {
    box-shadow: none;

}

textarea::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: var(--radius);
    outline: none;
}


.form-group label {
    line-height: var(--line-height);
    font-size: var(--font-size);
    font-weight: 700;
}


/*hidden input label*/
.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}


.form-group + .form-group {
    margin-top: var(--space);
}


p + .input-group,
p + .form-group {
    margin-top: 24px /*28*/;
}


.input-group {
    display: flex;
    line-height: 1;
}

.input-group + .input-group {
    margin-top: var(--space-sm);
}

.input-group .input:first-child {
    border-radius: var(--radius) 0 0 var(--radius);
}


.input-group .input-s:first-child {
    border-radius: var(--radius-sm) 0 0 var(--radius-sm);
}

.input-group .input,
.input-group .input-s {
    position: relative;
    border-radius: 0;
    z-index: 9999;

}


.input-group-post .btn-s {
    height: 100%;
    border-radius: 0 var(--radius-sm) var(--radius-sm) 0;
    border: var(--border) solid transparent;
    padding-top: var(--space);
    padding-bottom: var(--space);
    margin-left: -0.125rem;
}


.input-group .btn-flat {
    border-color: var(--color-brand-darker);
    background: white;

}
