.input,
.input-s{
    display: block;
    width: 100%;
    margin:0;
    padding: var(--space);
    border-radius: var(--radius);
    border: var(--border) solid var(--color-brand-darker);
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    box-sizing: border-box;
    background-color: white;
}

.input-s{
    padding: var(--space-sm);
    border-radius: var(--radius-sm);

}

.input-inverted{
background: var(--color-brand-dark);
color: white;
}

.input:focus,
.input-s:focus{
    border-color: var(--color-success);
    outline: none;
}

.input::placeholder,
.input-s::placeholder {
    color: var(--color-brand-darker);
  
  }

.form-group+.form-group{
    margin-top: var(--space);
}

p+.input-group{
    margin-top: var(--space-md);
}

.visually-hidden{
    position: absolute!important;
    width: 1px!important;
    height: 1px!important;
    padding: 0!important;
    margin: -1px!important;
    overflow: hidden!important;
    clip: rect(0,0,0,0)!important;
    white-space: nowrap!important;
    border: 0!important;
}


.input-group {
    display: flex;
    line-height: 1;
}

.input-group .input:first-child {
    border-radius: var(--radius) 0  0 var(--radius);
}


.input-group .input {
    border-radius: 0
}


.input-group-post .btn {
    height: 100%;
    border-radius: 0 var(--radius) var(--radius) 0;
    border: var(--border) solid transparent;
    padding-top: var(--space);
    padding-bottom: var(--space);
    margin-left: -3px;
}


.input-group .btn-flat {
    border-color: var(--color-brand-darker);
    background: white;
    
}
