/*media objects*/
.media,
.media-v,
.media-reverse {
    display: table;
    margin-bottom: var(--space-md);
}

.media-img {
    margin: 0;
    font-size: var(--font-size-lg);
    line-height: 1;
    font-weight: 700;
}

.media-img span {
    -webkit-text-stroke: var(--border) var(--color-brand-dark);
    -webkit-text-fill-color: var(--color-warning);

}

.media:nth-child(odd) .media-img {
    transform: rotate(-2deg);
}

.media:nth-child(even) .media-img {
    transform: rotate(2deg);
}

.media-body {
    display: table-cell;
    vertical-align: middle;
    padding-left: var(--space-md);
    line-height: var(--line-height);
}


.media-reverse .media-body {
    padding-right: var(--space-sm);
    padding-left: 0;
}


.media-v {
    display: block;
}

.media-v .media-body {
    margin-top: var(--space-md);
}

.media:last-child,
.media-s:last-child {
    margin-bottom: 0;
}
