@import url(./var.css);

.panel {
    position: relative;
    border-radius: var(--radius);
    background: var(--color-brand);
    border: var(--border) solid var(--color-brand-dark);
    width: 100%; /*always 100% on small screens*/
    box-shadow: 0.5rem 0.5rem 0 #d9d4bf;

}

.panel-success {
    border-color: var(--color-success-dark);
    background: var(--color-success-lighter);
    box-shadow: 0.5rem 0.5rem 0 #8decbe;

}

.panel-info {
    border-color: var(--color-info-dark);
    background: var(--color-info-lighter);
    box-shadow: 0.5rem 0.5rem 0 #99ceff;

}

.panel-alert {
    border-color: var(--color-alert-dark);
    background: var(--color-alert-light);
    color: var(--color-alert-dark);
    box-shadow: 0.5rem 0.5rem 0 #ffcccc;
}


.panel + .panel {
    margin-top: 1.75rem;

}


p + .panel {
    margin-top: var(--space-md);
}


@media screen and (min-width: 48em) {
    .panel {
        width: auto;
    }

    /*may have fixed width e.g. products*/
    .panel-fixed-sm {
        min-width: 21.5rem /*360*/;
        width: auto;
    }

    /*margin when more than 1 panel in a row in flex block*/
    .grid-container .panel {
        margin: 0.875rem;
    }


    .grid-container .panel + .panel {
        margin-top: 0.875rem;
    }

}

.panel-header {
    padding: var(--space);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--border) solid var(--color-brand-dark);
    font-weight: 600;
}

.panel-header:only-child {
    border-bottom: 0;
}

.panel-body {
    position: relative;
    padding: var(--space);
}

.panel-footer {
    background: var(--color-brand-dark);
    padding: var(--space);
    border-radius: 0 0 0.75rem 0.75rem /*12px*/;
    font-family: courier, monospace;
    color: white;
    line-height: var(--line-height);
}

.panel-alert .panel-header {
    border-bottom-color: var(--color-alert-dark);

}

.panel-alert .txt-highlighted {
    background: var(--color-alert-lighter);
}

.panel-alert .content-scrolled {
    background: var(--color-alert-lighter);
}

.panel-alert .table-striped tbody tr:nth-child(odd) {
    background: var(--color-alert-light);
}

.panel-alert .table-striped tbody tr:only-child {
    background: transparent;
}


.panel h2,
.panel .h2,
.panel h3,
.panel .h3 {
    margin: 0;
}

.label-responsive .icon {
    margin-right: 0;
}



