@import url(./var.css);

.panel {
    position: relative;
    border-radius: var(--radius);
    border: var(--border) solid var(--color-brand-dark);
    background: var(--color-brand-light);
    width: 100%;  /*always 100% on small screens*/

}

.panel+.panel,
p+.panel {
    margin-top: var(--space);
}

@media screen and (min-width: 48em) {
    .panel{
        width: auto;
    }

    /*may have fixed widht e.g. products*/     
    .panel-fixed-sm {
            min-width: 340px;
            width: auto;
    }    

    /*margin when more thab 1 panel in a row in flex block*/
    .grid-container .panel {
        margin: var(--space-sm);
    }


    .grid-container .panel+.panel{
        margin-top: var(--space-sm);
    }

}

.panel-header {
    padding: var(--space);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;

}

/*if panel doesn't have header*/
.panel-body {
    position: relative;
    padding: var(--space);

}

/*reduces extra top padding in body if contains header*/
.panel-header+.panel-body {
    padding-top: 0;
}

.panel-footer {
    background: var(--color-brand-dark);
    padding: var(--space);
    border-radius: 0 0 var(--space-sm) var(--space-sm);
    font-family: courier;
    color: white;
    line-height: var(--line-height);
}

.panel-alert {
    border-color: var(--color-alert-dark);
    color: var(--color-alert-dark);
    background: var(--color-alert-light);
}

.panel-alert .txt-highlighted {
    background: var(--color-alert-lighter);
}

.panel-alert .content-scrolled {
    background: var(--color-alert-lighter);
}

.panel-success {
    border-color: var(--color-success-dark);
    color: var(--color-success-dark);
    background: var(--color-success-light);
}

.panel-info {
    border-color: var(--color-info-dark);
    color: var(--color-info-dark);
    background: var(--color-info-light);
}

.panel h2,
.panel .h2,
.panel h3,
.panel .h3 {
    margin: 0;
}

.label-responsive .icon {
    margin-right: 0;
}



