@import url(./var.css);


.stepper-step{
    position: relative;

}

.stepper-step-inactive{
    opacity: 0.4;
}

.stepper+.stepper,
.stepper-step+.stepper-step{
    margin-top: var(--space);
}

.stepper .badge{
    position: absolute;
    top: 3rem /*48*/;
    left: -0.9375rem /*-15*/;
    z-index: 999;
}

.stepper-step-completed .badge,
.stepper-step-inactive .badge{
    top: var(--space);
}



.panel+.stepper,
.stepper+.panel{
 margin-top: var(--space);

}

.stepper+table{
    margin-top: var(--space);
}

/*stepper w/ 1 border*/



.stepper-ghost .panel{
   border-top-width:0;
   border-right-width: 0;
   border-bottom-width: 0;
   border-radius: 0;
   background: transparent;
   box-shadow: none;
}




@media screen and  (max-width: 48em) {
    .stepper-ghost {
        display: flex;
        margin-top: var(--space-sm);
    }

    .stepper-ghost .panel{
        border-top-width: var(--border);
        border-left-width: 0;
    }

    .stepper-ghost .stepper-step+.stepper-step {
        margin-top: 0;
    }

    .stepper-ghost h3{
        display: none;
    }

    .stepper-ghost .stepper-step-completed .badge, .stepper-step-inactive .badge {
        top: -1rem;
        left: var(--space-sm);
    }
}