.tab-container{
    margin-top: -0.5rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.tab-content{
    padding: var(--space);
    margin-top: var(--space-md); 
}

.tab-switch{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-left:var(--space-sm);
    padding-right:var(--space-sm);
}

.tab {
    position: relative;
    padding: var(--space);
    margin: var(--space-sm);
    flex-grow: 1;
    border-radius: var(--radius);
    border: var(--border) solid var(--color-brand-dark);
    background: var(--color-brand-light);
    font-size: var(--font-size);
    color: var(--color-brand-dark);
    font-family: Montserrat;
    font-weight: 700;
    line-height: var(--line-height-sm);
}


@media screen and (min-width: 48em) {
    .tab{
        flex-grow: 0;
    }
    .tab-block{
        flex-grow: 1;
    }
    
}



.tab-active{
    background: var(--color-success);
    color: white;
}




