
.tab-content{
    padding: var(--space);
    margin-top: var(--space-md);
    
}

.tab-switch{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.tab {
    position: relative;
    padding: var(--space);
    width: 100%;  /*always 100% on small screens*/
    border-radius: var(--radius);
    border: var(--border) solid var(--color-brand-dark);
    background: var(--color-brand-light);
    font-size: var(--font-size);
    color: var(--color-brand-dark);
    font-family: Montserrat;
    font-weight: 500;
    line-height: normal;
}

.tab-active{
    background: var(--color-success);
    color: white;
}


.tab-switch .tab{
    margin: var(--space-sm);
    width: auto;
    flex-grow: 1;
}

@media screen and (min-width: 48em) {
    .tab-switch .tab{
        flex-grow: 0;
    }
    
}


