table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    color: inherit;
    line-height: var(--line-height);
}

.table-fixed {
    table-layout: fixed;
}


table + table {
    margin-top: var(--space-md);
}


td,
th {
    vertical-align: top;
    padding: var(--space-sm);
}

td,
th {
    vertical-align: top;
    padding: var(--space);
}

th {
    font-weight: 700;
}


table .btn-responsive span {
    display: initial;
}

table .btn-responsive .icon {
    margin-right: var(--space-sm);
}

@media screen and (min-width: 48em) {
    table .btn-responsive span {
        display: none;
    }

    table .btn-responsive .icon {
        margin-right: 0;
    }

}


@media screen and (min-width: 64em) {
    table .btn-responsive span {
        display: initial;
    }

    table .btn-responsive .icon {
        margin-right: var(--space-sm);
    }

}


/* normal table, odd row has a different color   */

.table-striped tbody tr:nth-child(odd) {
    background: var(--color-brand);
}


/* normal table with rounded corners and a border */

.table-bordered {
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 var(--border) var(--color-brand-dark); /* table border  */
    border-radius: var(--radius);
}

.table-bordered th {
    background: white;
}

.table-bordered th:first-child {
    border-radius: var(--radius) 0 0 0;
}

.table-bordered th:last-child {
    border-radius: 0 var(--radius) 0 0;
}

.table-bordered tr:first-child td:first-child {
    border-radius: var(--radius) 0 0 0;
}

.table-bordered tr:first-child td:last-child {
    border-radius: 0 var(--radius) 0 0;
}

.table-bordered tr:last-child td:first-child {
    border-radius: 0 0 0 var(--radius);
}

.table-bordered tr:last-child td:last-child {
    border-radius: 0 0 var(--radius) 0;
}

.table-bordered tr:first-child td:only-child {
    border-radius: var(--radius) var(--radius) 0 0;
}

.table-bordered tr:last-child td:only-child {
    border-radius: 0 0 var(--radius) var(--radius);
}

.table-bordered thead + tbody tr:first-child td:first-child {
    border-radius: 0;
}

.table-bordered thead + tbody tr:first-child td:last-child {
    border-radius: 0;
}

.table-bordered thead + tbody tr:only-child td:first-child {
    border-radius: 0 0 0 var(--radius);
}

.table-bordered thead + tbody tr:only-child td:last-child {
    border-radius: 0 0 var(--radius) 0;
}


/* each tr is borderdered and sepated from the next */

.table-spaced {
    border-collapse: separate;
    border-spacing: 0 var(--space-md);
    margin: -1rem 0;

}

.table-spaced td,
.table-spaced th {
    padding: var(--space);
    border-width: var(--border) 0;
    border-color: var(--color-brand-darker);
    border-style: solid;
    background: white;
}

.row-info td {
    background: var(--color-info-light);
    border-color: var(--color-info);
}

.row-success td {
    color: var(--color-success-dark);
    background: var(--color-success-light);
    border-color: var(--color-success);
}

.row-success td button {
    color: var(--color-success-dark);
}


.table-spaced td:first-child,
.table-spaced th:first-child {
    border-left-width: var(--border);
    border-radius: var(--radius) 0 0 var(--radius);
}

.table-spaced td:last-child,
.table-spaced th:last-child {
    border-right-width: var(--border);
    border-radius: 0 var(--radius) var(--radius) 0;
}

.table-spaced td:only-child {
    border-right-width: var(--border);
    border-radius: var(--radius);
}


/*e.g. price comparison - to devide col w/ our prices from the rest*/
.cell-focus {
    border-right: var(--border) solid var(--color-alert);

}


/*reset cell width related classes - small screen td width is always 100%*/
@media screen and (min-width: 48em) {
    .cell-fixed-xs {
        width: 5rem /*80*/;
    }

    .cell-fixed-md {
        width: 10rem /*160*/;
    }

    .cell-fixed-lg {
        width: 16.25rem /*260*/;
    }

    .cell-center {
        text-align: center;
    }

    .cell-right {
        text-align: right;
    }

    .table-centered {
        text-align: center;
    }
}


/* undo tables for small screens */
@media screen and (max-width: 48em) {
    table {
        border: 0;
        padding-bottom: 0;
        display: block;
        width: 100%;
    }

    /* make sure captions are displayed */
    caption {
        display: block;
    }

    /* wipe the thead from the face of the earth, modern screen readers will expose the generated content */
    thead {
        display: none;
        visibility: hidden;
    }

    /*
     * make everything display block so it
     * aligns vertically
   */
    tbody,
    tr,
    th,
    td {
        border: 0;
        display: block;
        padding: 0;
        text-align: left;
        white-space: normal;
    }


    /* give each row a little space */
    td {
        padding: var(--space);
    }

    td:empty {
        display: none;
    }

    tr + tr {
        margin-top: var(--space);
    }

    tr {
        border: var(--border) solid var(--color-brand-dark);
        border-radius: var(--radius);
        padding: var(--space-xs);
    }

    .table-plain tr {
        border: 0;
    }

    .table-plain tr + tr {
        margin-top: 0;
    }


    /*reset *-responsive elements in tables on small screen - both icon and text is visible*/
    table .badge-responsive span,
    table .label-responsive span {
        display: initial;
    }

    table .badge .icon,
    table .badge img,
    table .label-responsive .icon {
        margin-right: var(--space-sm);
    }

    /* labels for cells when th is hidden*/
    th[data-title]:before,
    td[data-title]:before {
        content: attr(data-title) ":\00A0";
        font-weight: 800;
    }

    th:not([data-title]) {
        font-weight: 800;
    }

    table .btn-flat {
        padding-left: 0;
        padding-right: 0;
    }

    .table-spaced {
        margin: auto;
    }

    .table-spaced td:first-child,
    .table-spaced th:first-child,
    .table-spaced td:last-child,
    .table-spaced th:last-child {
        border-left-width: 0;
        border-radius: 0;
    }


    .table-spaced td,
    .table-spaced th {
        border: none;
    }

    .table-bordered {
        box-shadow: none;
    }


    .cell-focus {
        border-right: 0;
        border-bottom: var(--border) solid var(--color-alert)
    }

    /* text is always alignt left or center in the whole table, no need to align center for specific cells */
    .cell-center {
        text-align: left;
    }

    .cell-right {
        text-align: left;
    }
}


/* same table as on screen sm but on all screens*/

.table-labeled th[data-title]:before,
.table-labeled td[data-title]:before {
    content: attr(data-title) ":\00A0";
    font-weight: 800;


}

.table-labled th:not([data-title]) {
    font-weight: 800;
}
