.tooltip{
    position: relative;
    padding: var(--space-sm) var(--space);
    background: var(--color-brand-dark);
    border-radius: var(--radius);
    font-size: var(--font-size-sm);
    color:white;
    font-weight: 500;
    font-family: montserrat;
    transition: all 0.18s ease-out 0.18s;
}

.tooltip:before,
.tooltip-up:before,
.tooltip-down:before{
  position: absolute; 
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 0.375rem;
  width: 1.125rem /*18px*/;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}

.tooltip-down:before{
    top: -0.375rem /*6px*/;
    bottom: -0.375rem /*6px*/;
    background-image: url("../img/triangle-up.svg");
  }

.tooltip-up:before{
    bottom: -0.375rem /*6px*/;
    background-image: url("../img/triangle-down.svg");
  }
  
  
  



/* For demo: class for parent to show tooltip on hover */
.has-tooltip{
    position: relative;
    display: table-cell;
}

.has-tooltip:hover{
    color: var(--color-info-dark);
    border-radius: var(--radius);
    opacity: 0.9;
    cursor: pointer;
}

.has-tooltip .tooltip{
    display: none;
}

.has-tooltip:hover .tooltip{
    display: initial;
}

.tooltip-container {
    position: absolute;
    left: 0;
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: center;
    z-index: 999;
}

.tooltip-container .tooltip-down {
    bottom: -0.5rem;
}

.tooltip-container .tooltip-up {
    bottom: 4.3rem
}